.template-index {
    >.section {
        width: 100%;
    }
    >.section-1 {
        position: relative;
        @include flexbox();
        @include flexbox-justify(stretch);
        @include flexbox-direction(column);
        @include flexbox-align-content(stretch);
        @include flexbox-align-items(stretch);
        #masthead {
            @include flexbox-align-self(flex-start);
            background-color: white;
        }
        >.row-1 {
            background-size: cover;
            background-position: center;
            @include flexbox-flex(1,1,auto);
            @include flexbox();
            @include flexbox-justify(flex-end);
            @include flexbox-direction(column);
            @include flexbox-align-content(flex-end);
            @include flexbox-align-items(flex-end);
            .text {
                font-family: LuxRoyale;
                color: $color__helen-brown;
                margin: auto 20px 20px 20px;
                padding-top: 20px;
                font-size: 20px;
                @media screen and (min-width: $tabwidth){
                    font-size: 45px;
                    padding-top: 0;
                    margin: auto 5% 5% 0;
                }
            }
        }
        img.divot {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: block;
            left: 0;
        }
    }
    >.section-2 {
        @include flexbox();
        @include flexbox-justify(center);
        @include flexbox-direction(column);
        @include flexbox-align-content(center);
        @include flexbox-align-items(center);
        color: $color__helen-brown;
        text-align: center;
        padding: 20px;
        @media screen and (min-width: $tabwidth){
            padding: 20px 0;
        }
        >.row-1 {
            font-family: LuxRoyale;
            width: 100%;
            font-size: 20px;
            margin-bottom: 4.5%;
            @media screen and (min-width: $tabwidth){
                font-size: 45px;
            }
        }
        >.row-2 {
            width: 100%;
            img {
                display: block;
                width: 100%;
            }
        }
        >.row-3 {
            width: 70%;

        }
    }
    >.section-3 {
        position: relative;
        padding: 20px 0; 
        background-color: $color__helen-blue;
        @include flexbox();
        @include flexbox-justify(center);
        @include flexbox-align-content(center);
        @include flexbox-align-items(center);
        @include flexbox-direction(column);
        @media screen and (min-width: $tabwidth){
            padding: 3% 0;
            @include flexbox-direction(row);
        }
        >.col-1 {
            width: 100%;
            padding: 0;
            @media screen and (min-width: $tabwidth){
                width: 50%;
                padding: 0 2.5% 0 0;
            }
            img {
                display: block;
                width: 100%;
            }
        }
        >.col-2 {
            color: white;
            padding: 20px 20px 0 20px;
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: 50%;
                padding: 0 12% 0 2.5%;
            }
            .title {
                font-family: LuxRoyale;
                font-size: 20px;
                margin-bottom: 8%;
                @media screen and (min-width: $tabwidth){
                    font-size: 65px;
                }
            }
            .copy {
                color: white;
                margin-bottom: 5%;

            }
            .button {
                border: 1px solid white;
                border-radius: 10px;
                display: inline-block;
                font-family: 'Rubik', sans-serif;
                a {
                    color: white;
                    display: block;
                    line-height: 1;
                    text-align: center;
                    padding: 20px;
                    font-size: 20px;
                    text-transform: uppercase;
                    text-decoration: none;
                    @media screen and (min-width: $tabwidth){
                        font-size: 35px;
                    }
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        img.divot {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: block;
            left: 0;
        }
    }
    >.section-4 {
        padding: 20px 0; 
        @include flexbox();
        @include flexbox-justify(center);
        @include flexbox-align-content(center);
        @include flexbox-align-items(center);
        @include flexbox-direction(column);
        @media screen and (min-width: $tabwidth){
            padding: 3% 0;
            @include flexbox-direction(row);
        }
        >.col-1 {
            color: $color__helen-light-brown;
            padding: 0 20px 20px 20px;
            width: 100%;
            text-align: right;
            @media screen and (min-width: $tabwidth){
                width: 50%;
                padding: 0 2.5% 0 12%;
            }
            .title {
                font-family: LuxRoyale;
                font-size: 20px;
                margin-bottom: 8%;
                @media screen and (min-width: $tabwidth){
                    font-size: 65px;
                }
            }
            .copy {
                color: $color__helen-light-brown;
                margin-bottom: 5%;

            }
            .button {
                border: 1px solid $color__helen-blue;
                border-radius: 10px;
                display: inline-block;
                font-family: 'Rubik', sans-serif;
                a {
                    color: $color__helen-blue;
                    display: block;
                    line-height: 1;
                    text-align: center;
                    padding: 20px;
                    font-size: 20px;
                    text-transform: uppercase;
                    text-decoration: none;
                    @media screen and (min-width: $tabwidth){
                        font-size: 35px;
                    }
                    &:hover {
                        color: white;
                    }
                }
            }
        }
        >.col-2 {
            width: 100%;
            padding: 0;
            @media screen and (min-width: $tabwidth){
                width: 50%;
                padding: 0 2.5% 0 0;
            }
            img {
                display: block;
                width: 100%;
            }
        }
    }
    >.section-5 {
        background-color: $color__helen-light-brown;
        @include flexbox();
        @include flexbox-justify(center);
        @include flexbox-align-content(center);
        @include flexbox-align-items(center);
        @include flexbox-direction(column);
        >.row-1 {
            width: 100%;
            @include flexbox-flex(1,1,auto);
            padding: 20px;
            @media screen and (min-width: $tabwidth){
                padding: 3% 5%;
            }
            .title {
                text-align: center;
                color: white;
                font-family: LuxRoyale;
                font-size: 20px;
                margin-bottom: 15%;
                @media screen and (min-width: $tabwidth){
                    font-size: 65px;
                }
            }
        }
        #colophon {
        }
    }
}
.template-product {
    >.row-1 {
        padding: 20px; 
        @include flexbox();
        @include flexbox-justify(center);
        @include flexbox-align-content(center);
        @include flexbox-align-items(center);
        @include flexbox-direction(column);
        @media screen and (min-width: $tabwidth){
            padding: 8%;
            @include flexbox-direction(row);
        }
        >.col-1 {
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: 40%;
            }
            img {
                width: 80%;
                display: block;
                margin: 0 auto;
                @media screen and (min-width: $tabwidth){
                    width: 100%;
                    margin: 0;
                }
            }
        }
        >.col-2 {
            width: 100%;
            padding: 20px 0 0 0;
            @media screen and (min-width: $tabwidth){
                width: 60%;
                padding: 0 0 0 2.5%;
            }
            header {
                h1 {
                    margin: 0 0 20px 0;
                    font-family: LuxRoyale;
                    font-size: 30px;
                    color: $color__helen-brown;
                    font-weight: 500;
                    @media screen and (min-width: $tabwidth){
                        font-size: 65px;
                    }
                }
            }
            .copy {
                width: 100%;
                margin: 0 0 30px 0;
                @media screen and (min-width: $tabwidth){
                    width: 80%;
                }
            }
            .more {
                display: block;
                width: 100%;
                @media screen and (min-width: $tabwidth){
                    width: 90%;
                }
                a {
                    display: block;
                    background-color: $color__helen-blue;
                    text-decoration: none;
                    text-align: center;
                    border-radius: 10px;
                    padding: 10px;
                    color: white;
                    font-size: 16px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 20px;
                    }
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    >.row-2 {
        padding: 0 20px;
        @media screen and (min-width: $tabwidth){
            padding: 0 8%;
        }
        h2 {
            margin: 0;
            font-family: LuxRoyale;
            font-size: 30px;
            color: $color__helen-brown;
            font-weight: 500;
            @media screen and (min-width: $tabwidth){
                font-size: 45px;
            }
        }
    }
    .products {
        padding: 20px 0;
        @media screen and (min-width: $tabwidth){
            padding: 2% 0;
        }
        .product {
            width: 100%;
            padding: 20px;
            @media screen and (min-width: $tabwidth){
                float: left;
                width: 1/2*100%;
                padding: 4% 6%;
            }
            @media screen and (min-width: $deskwidth){
                width: 1/3*100%;
            }
            img {
                display: block;
                width: 100%;
                margin: 0 0 20px 0;
            }
            header {
                margin: 0 0 20px 0;
                h2 {
                    margin: 0;
                    font-family: LuxRoyale;
                    font-size: 20px;
                    color: $color__helen-brown;
                    font-weight: 500;
                    @media screen and (min-width: $tabwidth){
                        font-size: 35px;
                    }
                }
            }
            .copy {
                width: 90%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
}
.template-products {
    img.banner {
        width: 100%;
        display: block;
    }
    header {
        padding: 0 20px;
        @media screen and (min-width: $tabwidth){
            padding: 0 3%;
        }
        h1 {
            margin: 0;
            font-family: LuxRoyale;
            font-size: 30px;
            color: $color__helen-brown;
            font-weight: 500;
            @media screen and (min-width: $tabwidth){
                font-size: 65px;
            }
        }
    }
    .products {
        padding: 20px 0;
        @media screen and (min-width: $tabwidth){
            padding: 2% 0;
        }
        .product {
            width: 100%;
            padding: 20px;
            position: relative;
            @media screen and (min-width: $tabwidth){
                float: left;
                width: 1/2*100%;
                padding: 4% 6%;
            }
            @media screen and (min-width: $deskwidth){
                width: 1/3*100%;
            }
            img {
                display: block;
                width: 100%;
                margin: 0 0 20px 0;
            }
            header {
                margin: 0 0 90px 0;
                @media screen and (min-width: $tabwidth){
                    margin: 0 0 120px 0;
                }
                h2 {
                    margin: 0;
                    font-family: LuxRoyale;
                    font-size: 20px;
                    color: $color__helen-brown;
                    font-weight: 500;
                    @media screen and (min-width: $tabwidth){
                        font-size: 35px;
                    }
                }
            }
            .more {
                position: absolute;
                bottom: 16%;
                left: 0;
                width: 100%;
                a {
                    display: block;
                    background-color: $color__helen-blue;
                    text-decoration: none;
                    text-align: center;
                    border-radius: 10px;
                    padding: 10px;
                    color: white;
                    font-size: 20px;
                    max-width: 200px;
                    margin: 0 auto;
                    @media screen and (min-width: $tabwidth){
                        font-size: 25px;
                    }
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
.error-404, .template-sitemap {
    >header {
        margin: 20px 20px 0 20px;
        @media screen and (min-width: $tabwidth){
            margin: 5% 5% 0 5%;
        }
        h1 {
            margin: 0;
            font-family: LuxRoyale;
            font-size: 20px;
            color: $color__helen-brown;
            font-weight: 500;
            @media screen and (min-width: $tabwidth){
                font-size: 35px;
            }
        }
    }
    .copy {
        padding: 20px;
        @media screen and (min-width: $tabwidth){
            padding: 5%;
        }
    }
}
.template-blog {
    img.banner {
        width: 100%;
        display: block;
    }
    >.row-2 {
        padding: 20px; 
        @include flexbox();
        @include flexbox-justify(center);
        @include flexbox-align-content(flex-start);
        @include flexbox-align-items(flex-start);
        @include flexbox-direction(column);
        @media screen and (min-width: $tabwidth){
            padding: 0 6%;
            @include flexbox-direction(row);
            @include flexbox-justify(space-between);
        }
        >.col-1 {
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: 60%;
            }
            .posts {
                margin-bottom: 10%;
                .post {
                    margin-top: 18%;
                    &:first-child {
                        margin-top: 0;
                    }
                    >header {
                        h1 {
                            color: $color__helen-brown;
                            font-size: 30px;
                            font-weight: 700;
                            margin: 0;
                            @media screen and (min-width: $tabwidth){
                                font-size: 60px;
                            }
                        }
                    }
                    .date {
                        line-height: 1;
                        margin-bottom: 20px;
                        color: $color__helen-brown;
                        font-size: 20px;
                        @media screen and (min-width: $tabwidth){
                            font-size: 25px;
                            margin-bottom: 40px;
                        }

                    }
                    .copy {
                        margin-bottom: 20px;
                        @media screen and (min-width: $tabwidth){
                            margin-bottom: 30px;
                        }

                    }
                    .more-link {
                        width: 100%;
                        a {
                            background-color: $color__helen-blue;
                            display: block;
                            padding: 20px;
                            color: white;
                            text-transform: uppercase;
                            font-size: 20px;
                            text-align: center;
                            text-decoration: none;
                            @media screen and (min-width: $tabwidth){
                                font-size: 25px;
                            }
                        }
                    }
                }
            }
            .pagi-posts {
                ul {
                    li {
                        display: inline-block;
                        margin: 15px 0;
                        &.active {
                            a {
                                background-color: white;
                                border: 1px solid $color__helen-blue;
                                color: $color__helen-blue;
                            }
                        }
                        a {
                            background-color: $color__helen-blue;
                            color: white;
                            border: 1px solid $color__helen-blue;
                            margin: 0 1px;
                            border-radius: 0;
                            &:hover {
                                background-color: white;
                                border: 1px solid $color__helen-blue;
                                color: $color__helen-blue;
                            }
                        }
                    }
                }
            }
        }
        >.col-2 {
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: 25%;
            }
            >header {
                background-color: $color__helen-blue;
                display: block;
                padding: 20px;
                color: white;
                margin-bottom: 20px;
                @media screen and (min-width: $tabwidth){
                    margin-bottom: 30px;
                }
                h2 {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 700;
                    @media screen and (min-width: $tabwidth){
                        font-size: 30px;
                    }
                }
            }
            .items {
                margin-bottom: 20px;
                .item {
                    padding-left: 20px;
                    margin-top: 10px;
                    a {
                        color: $color__helen-brown;
                        text-decoration: none;
                        &:hover{
                            color: $color__helen-brown;
                        }
                        h3 {
                            margin: 0;
                            font-weight: 700;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
.template-single {
    >.row-1 {
        padding: 20px; 
        @include flexbox();
        @include flexbox-justify(center);
        @include flexbox-align-content(flex-start);
        @include flexbox-align-items(flex-start);
        @include flexbox-direction(column);
        @media screen and (min-width: $tabwidth){
            padding: 0 6%;
            @include flexbox-direction(row);
            @include flexbox-justify(space-between);
        }
        >.col-1 {
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: 60%;
            }
            .post {
                margin-bottom: 15%;
                >header {
                    h1 {
                        color: $color__helen-brown;
                        font-size: 30px;
                        font-weight: 700;
                        margin: 0;
                        @media screen and (min-width: $tabwidth){
                            font-size: 60px;
                        }
                    }
                }
                .date {
                    line-height: 1;
                    margin-bottom: 20px;
                    color: $color__helen-brown;
                    font-size: 20px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 25px;
                        margin-bottom: 40px;
                    }

                }
                .copy {
                    margin-bottom: 20px;
                    @media screen and (min-width: $tabwidth){
                        margin-bottom: 30px;
                    }

                }
            }
        }
        >.col-2 {
            width: 100%;
            @media screen and (min-width: $tabwidth){
                width: 25%;
            }
            >header {
                background-color: $color__helen-blue;
                display: block;
                padding: 20px;
                color: white;
                margin-bottom: 20px;
                @media screen and (min-width: $tabwidth){
                    margin-bottom: 30px;
                }
                h2 {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 700;
                    @media screen and (min-width: $tabwidth){
                        font-size: 30px;
                    }
                }
            }
            .items {
                margin-bottom: 20px;
                .item {
                    padding-left: 20px;
                    margin-top: 10px;
                    a {
                        color: $color__helen-brown;
                        text-decoration: none;
                        &:hover{
                            color: $color__helen-brown;
                        }
                        h3 {
                            margin: 0;
                            font-size: 20px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
.template-page {
    >header {
        h1 {
            color: $color__helen-brown;
            font-size: 30px;
            font-weight: 700;
            margin: 0;
            padding: 0 20px;
            @media screen and (min-width: $tabwidth){
                font-size: 60px;
                padding: 0 3%;
            }
        }
    }
    .copy {
        margin-bottom: 20px;
        padding: 0 20px;
        @media screen and (min-width: $tabwidth){
            margin-bottom: 15%;
            padding: 0 6%;
        }
    }
}
.template-events {
    header {
        padding: 0 20px;
        @media screen and (min-width: $tabwidth){
            padding: 0 3%;
        }
        h1 {
            margin: 0;
            font-family: LuxRoyale;
            font-size: 30px;
            color: $color__helen-brown;
            font-weight: 500;
            @media screen and (min-width: $tabwidth){
                font-size: 65px;
            }
        }
    }
    .events {
        padding: 20px 0;
        @media screen and (min-width: $tabwidth){
            padding: 2% 0;
        }
        .event {
            width: 100%;
            padding: 20px;
            position: relative;
            @media screen and (min-width: $tabwidth){
                float: left;
                width: 1/2*100%;
                padding: 4% 6%;
            }
            @media screen and (min-width: $deskwidth){
                width: 1/3*100%;
            }
            img {
                display: block;
                width: 100%;
                margin: 0 0 20px 0;
            }
            header {
                margin-bottom: 20px;
                h2 {
                    margin: 0;
                    font-family: LuxRoyale;
                    font-size: 25px;
                    color: $color__helen-brown;
                    font-weight: 500;
                    @media screen and (min-width: $tabwidth){
                        font-size: 35px;
                    }
                }
            }
        }
    }
}